.avatar {
    border-radius: 50%;
    width: 1.5rem;
    height: 1.5rem;
    overflow: hidden;
    display: block;
}

.avatar.large {
    width: 3rem;
    height: 3rem;
}

.avatar img {
    width: 100%;
    height: 100%;
}

.avatar.medium {
    width: 2rem;
    height: 2rem;
}

.item-user {
    display: flex;
    align-items: center;
}

.item-user .username {
    font-weight: bold;
}

.item-user .info-user {
    margin-left: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.item-user .status, .time-story {
    color: #888;
}

.item-user .time-story {
    text-transform: uppercase;
}